.login {
    background-image: url('../images/login-background.jpg');
    background-size: cover;
    height: 564px;
}

.loginLesson {
    background-image: url('../images/login-background.jpg');
    background-size: cover;
    height: 564px;
}

.logo{
    position:relative;
    width:18%;
    left:2%;

}

.container {
    width: fit-content;
    background-color: #ffffffc9;
}
