.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

#img-upload {
    width: 100%;
}

#netta {
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 30px;
    font-family: Poppins;
}

#upload_img {
    width: 50%;
    margin: auto;
    margin-bottom: 15px;
    margin-top:15px
}
