.top_menu {
    background-color: #fff;
    width: 100%;
    padding: 2px;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    font-family: 'Suez One', serif;
    text-align: center;
    height: 65px;
}
.btn-circle-xl {
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 1.3rem;
}
.btn-circle {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
}
#yesNoS{
    position:relative;
    text-align:center;
    margin-top:20%;
}
.btn-circle i {
    position: relative;
    top: -1px;
}
.counter-count {
    position: relative;
    float: left;
    font-size: 15px;
    text-align: center;
    width: 25px;
    height: 25px;
    -webkit-border-radius: 50%;
    display: inline-block;
}
#back{
    position:relative;
    left:-20%;
}
.mytext{
    border:0;padding:10px;background:whitesmoke;
}
.text{
    width:75%;display:flex;flex-direction:row-reverse;
}
.text > p:first-of-type{
    width:100%;margin-top:0;margin-bottom:auto;line-height: 13px;font-size: 12px;text-align:right;
}
    .text > p:last-of-type {
        color: black;
        font-size: 80%;
        font-weight: 400;
        margin-top: 9px;
    }
.text-l{
    float:left;padding-right:10px;
}        
.text-r{
    float:right;padding-left:10px;
}

.macro{
    margin-top:5px;
    border-radius:5px;padding:5px;display:flex;
}
.msj-rta {
    float: right;
    background: lightgray;
    height: 45px;
    margin-bottom: 4px;
}
.msj {
    float: left;
    background: #75C9C8;
    margin-bottom: 4px;
    height: 45px;
}
.frame{
    background:#e0e0de;
    height:450px;
    overflow:hidden;
    padding:0;
}
.frame > div:last-of-type{
    position:absolute;bottom:0;width:100%;display:flex;
}
body > div > div > div:nth-child(2) > span{
    background: whitesmoke;padding: 10px;font-size: 21px;border-radius: 50%;
}
body > div > div > div.msj-rta.macro{
    margin:auto;margin-left:1%;
}
ul {
    width:100%;
    list-style-type: none;
    padding:18px;
    position:absolute;
    bottom:47px;
    display:flex;
    flex-direction: column;
    top:0;
    overflow-y:scroll;
}
/*.msj:before{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    left:-14px;
    position:relative;
    border-style: solid;
    border-width: 0 13px 13px 0;
    border-color: transparent grey transparent transparent;            
}*/
/*.msj-rta:after{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    right:-30px;
    position:relative;
    border-style: solid;
    border-width: 13px 13px 0 0;
    border-color: lightgray transparent transparent transparent;           
}*/  
input:focus{
    outline: none;
}        
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #d4d4d4;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #d4d4d4;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #d4d4d4;
}
:-moz-placeholder { /* Firefox 18- */
    color: #d4d4d4;
}


.text_wrapper_right:before {
    content: '';
    margin-top: 6px;
    height: 0;
    border: 10px solid transparent;
    border-left-color: #d3d3d3;
    margin-right: -24px;
}

.text_wrapper_left:after {
    content: '';
    margin-top: 6px;
    height: 0;
    border: 10px solid transparent;
    border-right-color: #75C9C8;
    margin-left: -24px;
}

#back {
    width: 20px;
    margin-left: 30px;
    margin-top: 18px;
}